# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: 'v6.0.0'
      hooks:
          - id: check-yaml
          - id: check-ast
          - id: check-builtin-literals
          - id: check-case-conflict
          - id: check-docstring-first
          - id: check-executables-have-shebangs
          - id: check-toml
          - id: debug-statements
          - id: mixed-line-ending
    - repo: https://github.com/bwhmather/ssort
      rev: 0.15.0
      hooks:
          - id: ssort
    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: 'v0.14.7'
      hooks:
          - id: ruff-check
          - id: ruff-format
    - repo: https://github.com/PyCQA/bandit
      rev: '1.9.2'
      hooks:
          - id: bandit
            args: ['--confidence-level', 'medium']
            files: '^src'
